<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Create new Project</h1>

     <!-- Main Input -->
    <form action="{{ url_for('createProject')}}"method="POST">
      <span>Title</span>
      <input type="text" name="title" placeholder="title" required="required" /><hr>

      <span>info</span>
      <input type="text" name="info" placeholder="info"/><hr>

      <span>Deadline</span>
      <input type="date" name="deadline"> <hr>

       <span>place</span>
      <input type="text" name="place" placeholder="place" /><hr>
      
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <form action="{{ url_for('home')}}"method="POST">
    <span>Id</span>
    <input type="text" name="id" placeholder="id" required="required" /><hr>
      <button type="submit" class="btn btn-primary btn-block btn-large">Filter by user</button>
  </form>
   <br>
   <b>Your Projects:</b><br><br>
   <table>
    {% for project in projects %}
      <div style="border:1px solid white;">
        title = {{ project.title }} <br>
        info = {{ project.info }}<br>
        deadline = {{ project.deadline }} <br>
        created date = {{ project.created_date }} <br>
        location = {{ project.place }}<br><br><br>
        <hr>
        <span style="text-decoration:underline; color: plum;">Actions for this project:</span> <hr> <span style="background-color:indigo;">{% if project.actions is not defined %} No actions for project '{{project.title}} yet.'{% endif %} </span>
        {% for action in project.actions %}
          
          <div style="background-color:indigo;">
          title = {{ action.title }} <br>
          info = {{ action.info }}<br>
          deadline = {{ action.deadline }} <br>
          created date = {{ action.created_date }} <br>
          location = {{ action.place }}<br><br> 
          </div>
    
        {% endfor %}
      </div>
        <br><br>
    {% endfor %}
  </table>

 </div>div>


</body>
</html>
